.t1 {
    padding-right: 0.75rem;
}

.t8 {
    padding: 2rem;
}
.t2{
    margin-left: 2.5rem;
}
.t3 {
    padding: 2.5rem;
}
.text-center {
    text-align: center;
}
.t6 {
    padding-top: 7.5rem;
}
.max-w-screen-sm {
    max-width: 640px;
}