.text-navyBlue {
    --tw-text-opacity: 1;
    color: rgb(19 31 64/var(--tw-text-opacity));
}
.font-normal {
    font-weight: 400;
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.font-notoSans {
    font-family: Noto Sans,sans-serif;
}
.text-center {
    text-align: center;
}
.o12 {
    padding-bottom: 2.5rem;
}