.font-light {
    font-weight: 300;
}
.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}
p {
    margin-top: 0;
    margin-bottom: 1em;
}
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}