.md\:pb-4 {
    padding-bottom: 1rem;
}
.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}
.text-left {
    text-align: left;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: rgba(0,0,0,.85);
    font-weight: 500;
}
